{{ define "main" }}
<style>
    .book-title {
        margin-bottom: 0px;
    }
</style>
<main class="posts">
    <h1 class="book-title">Currently reading</h1>
    <ul class="posts-list literal-items" handle="rajkumaar23" status="IS_READING"></ul>
    <h1 class="book-title">Finished</h1>
    <ul class="posts-list literal-items" handle="rajkumaar23" status="FINISHED"></ul>
    <h1 class="book-title">Dropped</h1>
    <div class="posts-list literal-items" handle="rajkumaar23" status="DROPPED"></div>
    <h1 class="book-title">Want to read</h1>
    <div class="posts-list literal-items" handle="rajkumaar23" status="WANTS_TO_READ"></div>
</main>
<script>
    const targets = document.querySelectorAll('.literal-items');
    for (let target of targets) {
        const variables = {
            handle: target.getAttribute('handle'),
            readingStatus: target.getAttribute('status'),
            layout: target.getAttribute('layout'),
            limit: parseInt(target.getAttribute('limit')) || 100,
        };

        fetch('https://backend.literal.club/', {
            method: 'POST',
            mode: 'cors',
            headers: {
                'Content-Type': 'application/json',
            },
            body: JSON.stringify({
                query: `
                    query booksByReadingStateAndHandle($limit: Int!, $offset: Int!, $readingStatus: ReadingStatus!, $handle: String!) {
                        booksByReadingStateAndHandle(
                            limit: $limit
                            offset: $offset
                            readingStatus: $readingStatus
                            handle: $handle
                        ) {
                            ...BookParts
                            __typename
                        }
                    }
                    
                    fragment BookParts on Book {
                        id
                        slug
                        title
                        subtitle
                        description
                        isbn10
                        isbn13
                        language
                        pageCount
                        publishedDate
                        publisher
                        physicalFormat
                        cover
                        authors {
                            ...AuthorMini
                            __typename
                        }
                        gradientColors
                        workId
                        __typename
                    }
                    
                    fragment AuthorMini on Author {
                        id
                        name
                        slug
                        __typename
                    }
                `,
                variables: {
                    handle: variables.handle,
                    readingStatus: variables.readingStatus,
                    limit: variables.limit,
                    offset: 0,
                },
            }),
        })
            .then((response) => {
                return response.json();
            })
            .then((response) => {
                const books = response.data.booksByReadingStateAndHandle || [];

                const formatter = new Intl.ListFormat('en', { style: 'short', type: 'conjunction' });

                const bookItems = books.map((book) => {
                    const authors = formatter.format(book.authors.map((a) => a.name));
                    const bookItem = document.createElement('div');
                    bookItem.innerHTML = `
                    <a style="text-decoration: none;" target="_blank" href="https://literal.club/book/${book.slug}">
                        <div class="post-year" style="padding-top: 6px; margin-bottom: 1rem;">
                                ${book.title}
                        </div>
                        <li class="post-item project-item">
                            <div>
                                <span class="post-title">${authors}</span>
                            </div>
                        </li>
                    </a>
                    `;
                    return bookItem;
                });

                target.append(...bookItems);
            });
    }
</script>
{{ end }}