{{ define "main" }}
    <main aria-role="main">
        <div>
            <img width="150" height="150" src="https://avatars0.githubusercontent.com/u/37476886?s=460&v=4" alt="Rajkumar S" style="display: block;margin-left: auto;margin-right: auto;border-radius: 50%;" />
            <h1 style="margin-top: 0;margin-bottom: 0;">{{ .Site.Author.name }}</h1>
            <p style="margin-top: 0;">Software Engineer Intern | <a href="https://codechef.com">CodeChef</a></p>

            {{- with .Site.Params.social }}
                <div>
                    {{ partial "social-icons.html" . }}
                </div>
            {{- end }}
        </div>
    </main>
{{ end }}
