{{ define "main" }}
<main class="posts">
  <h1>{{ .Title }}</h1>

  <ul class="posts-list">
    {{- range $.Site.Data.projects }}
    <p class="post-year" style="padding-top: 6px; margin-top: 1rem">
      {{.name}}
    </p>
    <li class="post-item project-item">
      <div>
        <span class="post-title">{{.description | markdownify}}</span>
        <span class="post-day link-icons-right">
            <a style="margin-right: 1rem;" href="https://github.com/rajkumaar23/{{ .repo }}" target="_blank" title="github repo">{{ partial "svg.html" (dict "name" "github") }}</a> 
            {{- if .url }}
            <a style="margin-right: 1rem;" href="{{.url}}" title="website">{{ partial "svg.html" (dict "name" "website") }}</a> 
            {{- end}}
            {{- if .article }}
            <a href="/posts/{{.article}}" title="article">{{ partial "svg.html" (dict "name" "blog") }}</a> 
            {{- end}}
        </span>
      </div>
      <div class="post-day link-icons-bottom" style="margin: -1rem 0 0.5rem 0;">
          <a style="margin-right: 1rem;" href="https://github.com/rajkumaar23/{{ .repo }}" target="_blank" title="github repo">{{ partial "svg.html" (dict "name" "github") }}</a> 
          {{- if .url }}
          <a style="margin-right: 1rem;" href="{{.url}}" title="website">{{ partial "svg.html" (dict "name" "website") }}</a> 
          {{- end}}
          {{- if .article }}
          <a href="/posts/{{.article}}" title="article">{{ partial "svg.html" (dict "name" "blog") }}</a> 
          {{- end}}
      </div>
    </li>
    {{- end }}
  </ul>
</main>
{{ end }}